#bar {
    margin-right: 5em;
}

#login{
    margin-left: 7em;
}


#dropdown-basic-button {
    background : none;
    display: center;  
    /* display: flex;
    color : black;
    font-size: 1.125em;
    margin-right: 13em;
    width:45%; */
}


