.nav-link, {
    background : none;
    float:right;
    font-size: 1.125em;
    margin-left: 10em;
    width:45%;
}


#dropdown-basic-button {
    background : none;
    color : black;
    float:right;
    font-size: 1.125em;
    margin-left: 10em;
    width:45%;
}